<!-- -*- mode: XML -*- -->
<launch>
    <group ns="komodo_1">
		<include file="$(find ric_board)/launch/komodo_bgu.launch"/>
    </group>

    <node name="gripper"  pkg="pluto" type="grab.py"     args="" respawn="true" />
    <node name="move_arm" pkg="pluto" type="moveArm.py"  args="" respawn="true" />
    <node name="movement" pkg="pluto" type="movement.py" args="" respawn="true" />
    <node name="detector" pkg="pluto" type="detector.py" args="" respawn="true" />
    <node name="mickey"   pkg="pluto" type="mickey.py"   args="" respawn="true" />
  
	
</launch>

