<!-- -*- mode: XML -*- -->
<launch>
    <group ns="komodo_1">
		<include file="$(find ric_board)/launch/komodo_bgu.launch"/>
    </group>

  <node name="gripper"  pkg="pluto" type="grab.py"     output="screen" args="" respawn="true" />
  <node name="arm_movement" pkg="pluto" type="arm_movement.py"  output="screen" args="" respawn="true" /> 
  <node name="robot_movement" pkg="pluto" type="robot_movement.py" output="screen" args="" respawn="true" />
  <node name="detector" pkg="pluto" type="detector.py" output="screen" args="" respawn="true" />
  <node name="state_machine"   pkg="pluto" type="state_machine.py"  output="screen" args="" respawn="false" />
  
	
</launch>

